.no_margin {
    margin: 2px;
}

.id{
    display: none;
}

.bordered {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: 2px;
    overflow: auto;
}

#header {
    float: top;
}


#sidebar {
    float: left;
}

#footer {
    float: bottom;
}

#header > a#logo{
    color: crimson;
}

#content > * > form{
    font-size: 25px;
}

.right {
    float: right;
}

#sidebar > ul {
    margin: 0;
    padding: 0;
}

table{
    border: solid black 1px;

}

.text_button{
    user-select: none;
    cursor: pointer;
}
