{% extends "base.html" %}
{% block content %}
    <div id="add_test" class="right">
        <form action="{{ url_for("add_question", ident=id) }}" method="post">
            <label>Question: <input type="text" name="question" required> </label>
            <input type="submit" value="Add">
        </form>
        <hr>
        <form action="{{ url_for("add_answer", ident=id )}}" method="post">
            Question : <label>
            <select name="question" class="selector" required>
                {% for i in model %}
                    <option value="{{ i.number }}">{{ i.content }}</option>
                {% endfor %}
            </select>
        </label>
            <br>
            <label>Answer: <input type="text" name="content" required></label>
                <input type="submit" value="Add answer">
        </form>
    </div>
    <div class="left">
        <ul>
            {% for i in model %}
                <li>
                    {{ i.number }} : {{ i.content }}
                    <span class="remove_question text_button" style="color: red;">[x]</span>
                    <span class="add_answer text_button" style="color: blue">[+]</span>
                    <ul>
                        {% for j in i.answers %}
                            <li {% if i.correct_answer == j.number %} style="color:green;" {% endif %}>
                                {{ j.number }} : {{ j.content }}
                                <span class="remove_answer text_button" style="color: red;">[x]</span>
                                <span class="correct_answer text_button" style="color: green;">[✔️]</span>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            <li><span class="text_button" id="add_question" style="color: blue">[+]</span></li>
        </ul>
    </div>
    <script>
        $(function () {
            $( ".remove_answer" ).click(function () {
                let a = $(this).parent().text().split(':')[0];
                a = parseInt(a, 10);
                let b = $(this).parent().parent().parent().text().split(":")[0];
                b = parseInt(b, 10);
                confirmDialog(function () {
                    $.post("{{ url_for("rm_answer", ident=id) }}", {question: b, number: a}, function () {location.reload();})
                }).dialog("open");
            });
            $( ".remove_question" ).click(function () {
                let a = $(this).parent().text().split(':')[0];
                a = parseInt(a);
                confirmDialog(function () {
                    $.post("{{ url_for("rm_question", ident=id) }}", {number: a}, function () {location.reload();})
                }).dialog("open");
            });
            $( ".correct_answer" ).click(function () {
                let a = $(this).parent().text().split(':')[0];
                a = parseInt(a, 10);
                let b = $(this).parent().parent().parent().text().split(":")[0];
                b = parseInt(b, 10);
                $.post("{{ url_for("ch_correct", ident=id) }}", {question: b, correct: a}, function () {location.reload();})
            });
            $( "#add_question" ).click(function () {
                console.log("Add question!");
            });
            $( ".add_answer" ).click(function () {
                let a = $(this).parent().text().split(':')[0];
                a = parseInt(a, 10);
                console.log("Add answer to question " + a + "!");
            });
        })
    </script>
{% endblock %}
