{% extends "template_base.html" %}
{% block content %}
    <div id="add_test" class="right bordered">
        <form  method="post" action="{{ url_for('action_admin_add_test') }}">
            <label>
                Name:
                <input type="text" name="test_name" required="required" >
            </label>
            <br>
            <label>
                Type:
                <select name="test_type" required>
                    {% for i in types %}
                        <option value="{{ i }}">{{ types[i] }}</option>
                    {% endfor %}
                </select>
            </label>
            <br>
            <input type="submit" name="sender" value="Add">
        </form>
    </div>
<ul>
    {% for i in results %}
        <li>
            <a href="{{ url_for('page_admin_edit_test', ident=i.id) }}">{{ i.name }}</a>
            <span class="remove_button text_button" style="color: red"> [x] </span>
        </li>
    {% endfor %}
</ul>
<script>
    $(function(){
        $( ".remove_button" ).click(function () {
            let a = $(this).prev().prev().prev().text();
            confirmDialog(function () {
                $.post("{{ url_for("action_admin_rm_test") }}", {test_id: a}, function() {location.reload()})
            }).dialog("open");
        })
    })
</script>
{% endblock %}