{% extends "t_base.html" %}
{% block content %}
    <div class="left">
        <ul>
            {% for i in model %}
                <li>
                    {{ i.number }} : {{ i.content }}
                    <span class="remove_question text_button" style="color: red;">[x]</span>
                    <span class="add_answer text_button" style="color: blue">[+]</span>
                    <ul>
                        {% for j in i.answers %}
                            <li {% if i.correct_answer == j.number %} style="color:green;" {% endif %}>
                                {{ j.number }} : {{ j.content }}
                                <span class="remove_answer text_button" style="color: red;">[x]</span>
                                <span class="correct_answer text_button" style="color: green;">[✔️]</span>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            <li><span class="text_button" id="add_question" style="color: blue">[+]</span></li>
        </ul>
    </div>
    <script>
        $(function () {
            $( ".remove_answer" ).click(function () {
                let a = $(this).parent().text().split(':')[0];
                a = parseInt(a, 10);
                let b = $(this).parent().parent().parent().text().split(":")[0];
                b = parseInt(b, 10);
                confirmDialog(function () {
                    $.post("{{ url_for("action_admin_rm_answer", ident=id) }}", {question: b, number: a}, function () {location.reload();})
                }).dialog("open");
            });
            $( ".remove_question" ).click(function () {
                let a = $(this).parent().text().split(':')[0];
                a = parseInt(a);
                confirmDialog(function () {
                    $.post("{{ url_for("action_admin_rm_question", ident=id) }}", {number: a}, function () {location.reload();})
                }).dialog("open");
            });
            $( ".correct_answer" ).click(function () {
                let a = $(this).parent().text().split(':')[0];
                a = parseInt(a, 10);
                let b = $(this).parent().parent().parent().text().split(":")[0];
                b = parseInt(b, 10);
                $.post("{{ url_for("action_admin_set_correct", ident=id) }}", {question: b, correct: a}, function () {location.reload();})
            });
            $( "#add_question" ).click(function () {
                textDialog(function (a) {
                    $.post("{{ url_for('action_admin_add_question', ident=id) }}", {question: a}, function () {location.reload()})
                }).dialog("open")
            });
            $( ".add_answer" ).click(function () {
                let a = $(this).parent().text().split(':')[0];
                a = parseInt(a, 10);
                textDialog(function (b) {
                    $.post("{{ url_for('action_admin_add_answer', ident=id ) }}", {question: a, content:b},
                        function () {location.reload()});
                }).dialog("open")
            });
        })
    </script>
{% endblock %}
