<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% endblock %}
</head>

<body>
<div id="header">
    {% block header %}
    <a href="{{ url_for('home_page') }}" id="logo" class="left">Home</a>
    {% if 'user' in session %}
    <a href="{{ url_for('admin_panel') }}">Admin panel</a>
    <a href="{{ url_for('logout') }}"> Logout </a>
    {% else %}
    <a href="{{ url_for('login_placeholder') }}"> Login </a>
    {% endif %}


    {% endblock %}
</div>
<div id="sidebar">
    {% block sidebar %}
    <ul>
        <li><a href="{{ url_for('admin_panel') }}"> Admin panel </a></li>
        <li><a href="{{ url_for('play_test') }}"> Join a test </a></li>
    </ul>
    {% endblock %}
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>