{% extends "bootstrap/base.html" %}
{% block content %}
    <h2>Tests:</h2>
    <ul>
        {% for i in results %}
            <li>
                <span class="id" style="display: none">{{ i.id }}</span>
                <a href="{{ url_for('page_admin_edit_test', ident=i.id) }}">{{ i.name }}</a>
                <button class="badge badge-danger remove-test"> [x] </button>
            </li>
        {% endfor %}
        <li style="list-style-type: none"><button class="badge badge-primary add-test">Add test</button></li>
    </ul>


{% endblock %}
{% block scripts %}
    <script>
        $(function(){
            $( ".remove_button" ).click(function () {
                let a = $(this).prev().prev().text();
                confirmDialog(function () {
                    $.post("{{ url_for("action_admin_rm_test") }}", {test_id: a}, function() {location.reload()});
                }).dialog("open");
            });
            $( ".add_test" ).click(function () {
                textDialog(function (a) {
                    $.post("{{ url_for('action_admin_add_test') }}", {test_name: a}, function () {
                        location.reload()
                    })
                }).dialog("open");
            });
        })
    </script>
{% endblock %}