{% extends "bootstrap/base.html" %}
{% block content %}
    <a href="{{ url_for("page_admin_tests") }}">Back</a>
    <div class="left">
        <ul>
            {% for i in model %}
                <li>
                    <span class="id"> {{ i.number }} : </span>{{ i.content }}
                    <button class="badge badge-danger remove_question">[x]</button>
                    <ul>
                        {% for j in i.answers %}
                            <li {% if i.correct_answer == j.number %} style="color:green;" {% endif %}>
                                <span class="id"> {{ j.number }} : </span>{{ j.content }}
                                <button class="badge badge-danger remove_answer">[x]</button>
                                <button class="badge badge-success correct_answer">Set as correct</button>
                            </li>
                        {% endfor %}
                        <li style="list-style-type: none"><button class="badge badge-primary add_answer">Add answer</button></li>
                    </ul>
                </li>
            {% endfor %}
            <li style="list-style-type: none"><button class="badge badge-primary" id="add_question">Add Question</button></li>
        </ul>

    </div>


{% endblock %}
{%  block scripts %}
    <script>
        $(function () {
            $( ".remove_answer" ).click(function () {
                let a = $(this).parent().text().split(':')[0];
                a = parseInt(a, 10);
                let b = $(this).parent().parent().parent().text().split(":")[0];
                b = parseInt(b, 10);
                if (confirm("Do you really want to delete this?")) {
                    $.post("{{ url_for("action_admin_rm_answer", ident=id) }}", {question: b, number: a}, function () {location.reload();})
                }
            });
            $( ".remove_question" ).click(function () {
                let a = $(this).parent().text().split(':')[0];
                a = parseInt(a);
                if (confirm("Do you really want to delete this?")) {
                    $.post("{{ url_for("action_admin_rm_question", ident=id) }}", {number: a}, function () {location.reload();})
                }
            });
            $( ".correct_answer" ).click(function () {
                let a = $(this).parent().text().split(':')[0];
                a = parseInt(a, 10);
                let b = $(this).parent().parent().parent().text().split(":")[0];
                b = parseInt(b, 10);
                $.post("{{ url_for("action_admin_set_correct", ident=id) }}", {question: b, correct: a}, function () {location.reload();})
            });
            $( "#add_question" ).click(function () {
                textDialog(function (a) {
                    $.post("{{ url_for('action_admin_add_question', ident=id) }}", {question: a}, function () {location.reload()})
                }).dialog("open")
            });
            $( ".add_answer" ).click(function () {
                let a = $(this).parent().parent().parent().text().split(':')[0];
                a = parseInt(a, 10);
                textDialog(function (b) {
                    $.post("{{ url_for('action_admin_add_answer', ident=id ) }}", {question: a, content:b},
                        function () {location.reload()});
                }).dialog("open")
            });
        })
    </script>
{% endblock %}

