{% extends "bootstrap/base.html" %}
{% block content %}
    {% if "user" in session %}
    {% if session['user'] == 'admin' %}
    <button class="btn btn-danger" id="flushButton">Delete all entries</button>
    {% endif %}
    {% endif %}
    <table>
        <tr>
            <th> Name </th>
            <th> Grade</th>
            <th> Test </th>
            <th> Score </th>
        </tr>
        {% for i in model %}
        <tr>
            <td>{{ i.user.name }}</td>
            <td>{{ i.user.grade }}</td>
            <td>{{ i.test.name }}</td>
            <td>{{ i.score }} / {{ len(i.test.questions) }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block scripts %}
    <script>
    $("#flushButton").click(function () {
        $.post("{{ url_for("api_admin_flush_leaderboard") }}", function () {
            location.reload();
        })
    })
    </script>
{% endblock %}