{% extends "t_base.html" %}
{% block content %}
    {%  if msg %}
        <h3> {{ msg }}</h3>
    {% else %}
    <form class="form-style-1" method="post">
        <label> Username
            <input type="text" name="user" required>
            <br>
        </label>
        <label> Real name
            <input type="text" name="name" required>
            <br>
        </label>
        <label> Password
            <input type="password" name="password" required>
            <br>
        </label>
        <label> Grade
            <input name="grade" type="text" required>
            <br>
        </label>
        <input type="submit">
    </form>
    {% endif %}
{% endblock %}
