{% extends "bootstrap/base.html" %}
{% block content %}
    <div class="left">
        <form method="post" action="{{ url_for('action_eval_test', ident=id) }}">
            <ul>
            {% for i in model %}
                <li>
                    <div class="form-group form-check">
                    {{ i.content }} <br>
                    {% set first=True %}
                    {% for j in i.answers %}
                        <input type="radio" name="q{{ i.number }}" id="q{{ i.number }}_{{ j.number }}" value="{{ j.number }}"
                                {% if first %} required {% set first=False %} {% endif %}  >
                        <label for="q{{ i.number }}_{{ j.number }}">{{ j.content }}</label>
                    {% endfor %}
                    </div>
                </li>
            {% endfor %}
            </ul>
            <input type="submit" class="form-control col-lg-1 col-md-2 col-sm-2 col-xl-1" value="Send">
        </form>
    </div>
{% endblock %}
