{% extends "t_base.html" %}
{% block content %}
    <div class="left">
        <form method="post" action="{{ url_for('action_eval_test', ident=id) }}">
            <ul>
            {% for i in model %}
                <li>
                    {{ i.content }} <br>
                    {% for j in i.answers %}
                        <label><input type="radio" name="q{{ i.number }}" value="{{ j.number }}"> {{ j.content }}  </label>
                    {% endfor %}
                </li>
            {% endfor %}
            </ul>
            <input type="submit" value="Send">
        </form>
    </div>
{% endblock %}
