<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='jqui/jquery-ui.min.css') }}"/>
        <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jqui/jquery-ui.min.js') }}"></script>
        <title>
            {% block title %}
            {% endblock %}
        </title>
    {% endblock %}
</head>

<body>
<div id="header" class="bordered">
    {% block header %}
        <a href="{{ url_for('page_home') }}" id="logo" class="left">Home</a>
        {% if 'user' in session %}
            <a href="{{ url_for('page_admin_tests') }}">Admin panel</a>
            <a href="{{ url_for('action_logout') }}"> Logout </a>
        {% else %}
            <a href="{{ url_for('action_login') }}"> Login </a>
        {% endif %}
    {% endblock %}
</div>
<div id="sidebar" class="bordered">
    {% block sidebar %}
        <ul>
            <li><a href="{{ url_for('page_admin_tests') }}"> Admin panel </a></li>
            <li><a href="{{ url_for('page_take_test') }}"> Join a test </a></li>
            <li><a href="{{ url_for('page_leaderboard') }}"> Leaderboard </a></li>
        </ul>
    {% endblock %}
</div>
<div id="content" class="bordered">
    {% block content %}
    {% endblock %}
</div>
<div id="confirmation_dialog" title="Confirmation!" style="visibility: hidden">
    <p>Are you sure you want to take this action?</p>
</div>
<div id="text_dialog" title="Enter text content" style="visibility: hidden">
    <form>
        <label>
            <input type="text">
        </label>
    </form>
</div>
<script>
    let confirmDialog = function (f) {
        let dialog_clone = $("#confirmation_dialog");
        dialog_clone.css("visibility", "visible");
        let dialog = dialog_clone.dialog({
            autoOpen: false,
            buttons: {
                "Do it!": function () {
                    f();
                    dialog.dialog("close");
                },
                "No": function () {
                    dialog.dialog("close");
                }
            }
        });
        return dialog;
    };
    let textDialog = function (f) {
        let dialog = $("#text_dialog").css("visibility", "visible");
        let d = dialog.dialog({
            autoOpen: false,
            buttons: {
                "Ok!" : function () {
                    let text = $("#text_dialog > form").find("input").val();
                    f(text);
                    d.dialog("close");
                }
            }
        });
        return d;
    }
</script>
</body>
</html>