{% extends "t_base.html" %}
{% block content %}
    <div class="left">
        <ul>
            {% for i in model %}
                <li>
                    <b>Question:</b> {{ i.content }}
                    <br>
                    <b>Your answer:</b> {{ answers[i.number] }}  -
                    {% if answers[i.number] == i.correct.content %}
                        <span style="color: green">Correct</span>
                    {% else %}
                        <span style="color: red">Wrong</span> <br>
                        <b>Correct answer:</b> {{ i.correct.content }}
                    {% endif %}
                    <hr>
                </li>
            {% endfor %}
        </ul>
        Correct answers: {{ correct }}/{{ length }}
    </div>
{% endblock %}